.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Alterado para três colunas com largura igual */
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer img {
  max-width: 100%; /* Garante que a imagem se ajuste ao tamanho da coluna */
  height: auto;
  max-height: 100px; /* Defina a altura máxima desejada para a imagem */
}


.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-11);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1 / -1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer {
      grid-template-columns: repeat(2, 1fr); /* Alterado para duas colunas em telas menores */
  }
}

@media (max-width: 600px) {
  .footer {
      grid-template-columns: 1fr; /* Alterado para uma única coluna em telas ainda menores */
      gap: 20px; /* Reduzido o espaçamento entre os elementos */
  }
}

  